name: Build & Release

on:
  push:
    tags:
    - '*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Release Version Tag'
        required: true

jobs:
  build-and-release:
    runs-on: windows-latest
    environment: production

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Set Version
      id: set-version
      shell: pwsh
      run: |
        if ("${{ github.event_name }}" -eq "push") {
          $version = "${{ github.ref_name }}"
        } else {
          $version = "${{ inputs.tag }}"
        }
        Write-Host "Set version to: $version"
        echo "version=$version" >> $env:GITHUB_OUTPUT

    - name: Restore Dependencies
      run: dotnet restore ./src/Lod.RecordCollections.sln

    - name: Build
      run: dotnet build ./src/Lod.RecordCollections.sln -c Release --no-restore -p:DebugType=portable -p:DebugSymbols=true

    - name: Test
      run: dotnet test ./src/Lod.RecordCollections.sln -c Release --no-restore --no-build

    - name: IL Class/Record Conversion (netstandard2.0))
      run: dotnet ./src/Lod.RecordCollections.IlAssembler/bin/Release/net10.0/Lod.RecordCollections.IlAssembler.dll D:\a\lod.recordcollections\lod.recordcollections\src\Lod.RecordCollections\bin\Release\netstandard2.0\Lod.RecordCollections.dll

    - name: IL Class/Record Conversion (net4.8))
      run: dotnet ./src/Lod.RecordCollections.IlAssembler/bin/Release/net10.0/Lod.RecordCollections.IlAssembler.dll D:\a\lod.recordcollections\lod.recordcollections\src\Lod.RecordCollections\bin\Release\net4.8\Lod.RecordCollections.dll

    - name: IL Class/Record Conversion (net8.0))
      run: dotnet ./src/Lod.RecordCollections.IlAssembler/bin/Release/net10.0/Lod.RecordCollections.IlAssembler.dll D:\a\lod.recordcollections\lod.recordcollections\src\Lod.RecordCollections\bin\Release\net8.0\Lod.RecordCollections.dll

    - name: IL Class/Record Conversion (net10.0))
      run: dotnet ./src/Lod.RecordCollections.IlAssembler/bin/Release/net10.0/Lod.RecordCollections.IlAssembler.dll D:\a\lod.recordcollections\lod.recordcollections\src\Lod.RecordCollections\bin\Release\net10.0\Lod.RecordCollections.dll

    - name: NuGet Pack
      run: dotnet pack ./src/Lod.RecordCollections/Lod.RecordCollections.csproj -c Release --no-restore --include-symbols --no-build -p:Version=${{ steps.set-version.outputs.version }} -p:PackageVersion=${{ steps.set-version.outputs.version }}

    - name: NuGet Push
      run: dotnet nuget push ./src/Lod.RecordCollections/bin/Release/Lod.RecordCollections.${{ steps.set-version.outputs.version }}.nupkg --api-key ${{ secrets.NUGET_KEY }} -s https://api.nuget.org/v3/index.json
